.posts {
  padding-top: 100px;
  padding-bottom: 100px;

  & h2 {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 2.5rem;
  }
  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;
    padding-bottom: $gap;
    gap: $gap;
    grid-template-areas: "b1 b1 b2 b3" "b4 b5 b6 b6";
    grid-template-columns: repeat(4, 1fr);
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}

.post-item {
  background-color: #eeeeee;

  &__link {
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 300px 1fr;
  }

  &__image {
    background-color: $color-primary;

    & img {
      width: 100%;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }

  &__caption {
    display: grid;
    align-content: center;
    padding: $gap;

    & h3 {
      text-align: center;
      transition: color 0.5s;
      font-family: "Roboto Slab", serif;
    }

    & p {
      text-align: center;
      transition: color 0.5s;
      letter-spacing: normal;
    }
  }
}

@for $i from 1 through 6 {
  .post-item:nth-child(#{$i}) {
    grid-area: b#{$i};
  }
}
